.container {
  display: flex;
  flex-direction: column;
  padding: var(--padding-lg);
  color: var(--on-surface);
}

.navigation {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 12px;
  gap: 12px;
}

.error {
  font-size: var(--fs-sm);
  color: var(--error);
}


.deleteDialogAction {
  display: flex;
  gap: 12px;
}
