:root {
  --background: #fffaec;
  --foreground: #3d3d3d;

  /* https://colorhunt.co/palette/fffaecf5ecd5578e7e3d3d3d */
  --primary: #3d3d3d;
  --on-primary: #fffaec;

  --secondary: #578e7e;
  --on-secondary: #3d3d3d;

  --surface: #f5ecd5;
  --on-surface: #3d3d3d;

  --error: #d81e5b;
  --on-error: #000000;

  --padding-xs: 4px;
  --padding-sm: 8px;
  --padding-md: 16px;
  --padding-lg: 24px;
  --padding-xl: 32px;

  --margin-xs: 4px;
  --margin-sm: 8px;
  --margin-md: 16px;
  --margin-lg: 24px;
  --margin-xl: 32px;

  --fs-xs: 12px;
  --fs-sm: 16px;
  --fs-md: 20px;
  --fs-lg: 24px;
  --fs-xl: 32px;
  --fs-xxl: 40px;

  --radius: 6px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  font-size: var(--fs-sm);
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  scrollbar-color: var(--foreground) var(--background);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
