.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  color: var(--beige-color);
}
.error {
  color: var(--beige-color);
  font-weight: 600;
  font-size: var(--fs-sm);
}
