.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid transparent;
  gap: 6px;
  border-radius: var(--radius, 4px);
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button-sm {
  font-size: var(--fs-sm);
  padding: var(--padding-xs) var(--padding-sm);
}

.button-md {
  font-size: var(--fs-md);
  padding: var(--padding-sm) var(--padding-md);
}

.button-lg {
  font-size: var(--fs-lg);
  padding: var(--padding-md) var(--padding-lg);
}

/* Button Variants */
.button-primary {
  background-color: var(--wine-color);
  color: var(--beige-color);
  padding: var(--padding-sm) var(--padding-md);
  border-radius: var(--radius);
  font-size: var(--fs-sm);
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border: 2px solid var(--dark-grey);
  /* box-shadow: 4px 4px 0px 0px var(--dark-grey); */
}

.button-primary:hover {
  background-color: var(--orange-color);
  color: var(--background);
  transform: translateY(-2px);
  box-shadow: 4px 4px 0px 0px var(--dark-grey);
}

.button-secondary {
  background-color: var(--orange-color);
  color: var(--background);
  border: 2px solid var(--dark-grey);
  padding: var(--padding-sm) var(--padding-md);
  border-radius: var(--radius);
  font-size: var(--fs-sm);
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.button-secondary:hover {
  background-color: var(--wine-color);
  color: var(--beige-color);
  transform: translateY(-2px);
  box-shadow: 4px 4px 0px 0px var(--dark-grey);
}

.button-outline {
  background-color: transparent;
  color: var(--dark-grey);
  border: 2px solid var(--dark-grey);
  padding: var(--padding-sm) var(--padding-md);
  border-radius: var(--radius);
  font-size: var(--fs-sm);
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.button-outline:hover {
  background-color: var(--wine-color);
  color: var(--beige-color);
  transform: translateY(-2px);
  box-shadow: 4px 4px 0px 0px var(--dark-grey);
}

.button-ghost {
  background-color: transparent;
  color: var(--dark-grey);
  border: none;
  padding: var(--padding-sm) var(--padding-md);
  font-size: var(--fs-sm);
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.button-ghost:hover {
  background-color: var(--beige-color);
  color: var(--dark-grey);
  transform: translateY(-2px);
}
