.input {
  background-color: transparent;
  border: 2px solid var(--dark-grey);
  color: var(--foreground);
  border-radius: var(--radius);
  outline: none;
  transition: all 0.2s ease-in-out;
}

.input:focus {
  border-color: var(--wine-color);
  box-shadow: 0 0 4px var(--wine-color);
}

.input-sm {
  padding: var(--padding-xs);
  font-size: var(--fs-xs);
}

.input-md {
  padding: var(--padding-sm);
  font-size: var(--fs-sm);
}

.input-lg {
  padding: var(--padding-md);
  font-size: var(--fs-md);
}
