.container {
  padding: var(--padding-lg);
  color: var(--on-surface);
}

.h1 {
  font-size: var(--fs-xl);
  margin-bottom: var(--margin-lg);
}

.form {
  display: flex;
  flex-direction: row;
  gap: var(--padding-sm);
  flex-wrap: wrap;
  margin-bottom: var(--margin-lg);
  align-items: center;
}

.formField {
  width: 20%;
}

.cancelBtn {
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: var(--padding-sm) var(--padding-md);
  border-radius: var(--radius);
  cursor: pointer;
}

.table {
  width: 100%;
  margin: auto;
  border-radius: var(--radius);
  border: 2px solid var(--primary);
}

.tableRow {
  border-bottom: 2px solid var(--primary);

}

.tableRow td {
  padding: var(--padding-sm);
  text-align: left;
  margin-top: 5px;
}

.tableActions {
  display: flex;
  justify-content: center;
}

.iconBtn {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: var(--margin-xs);
}
