.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--padding-md);
  padding-right: var(--padding-md);
}

.auth_links {
  display: inline-flex;
  gap: 6px;
}
